body{
    background: black;
}
/* used to set a different logo */
.nav-bar__logo img {
    content: url(https://cloudprice.net/_next/static/media/minimal-logo.2cbeccf3.png);
}
.filter{
    background-color: #00ace6;
    color: white;
}
.sidebar__logo img { 
  content: url(https://cloudprice.net/_next/static/media/minimal-logo.2cbeccf3.png);
}
