body{
    background: black;
}
.login__logo img.logo-image {
  display: none
}
.login__logo {
    background-size: 100px 50px;
    background-image: url(https://cloudprice.net/_next/static/media/minimal-logo.2cbeccf3.png);
    height: 50px;
}
/* used to set a different logo */
.nav-bar__logo img {
    content: url(https://cloudprice.net/_next/static/media/minimal-logo.2cbeccf3.png);
}
.filter{
    background-color: #00ace6;
    color: white;
}
.sidebar__logo img { 
  content: url(https://cloudprice.net/_next/static/media/minimal-logo.2cbeccf3.png);
}
.sidebar__logo__character {
   content: url(https://cloudprice.net/_next/static/media/minimal-logo.2cbeccf3.png);    
   width: 42px;
   height: 54.2812px; 
}

.login-panel {
  background-color: #1e1e2f !important;
}

.login-box {
  border: 2px solid red !important;
}
